extends layout

block content
  h1 Game Based Education For Turkish pupils
  a(href='mk')
    img(src='mk/assets/images/rsz_robin.png',width='200', height='100')
    h4 Round Robin Hood
  hr
  a(href='lu')
    img(src='lu/assets/images/dusman4.png',width='200', height='100')
    h4 Helicopter Wars
  hr
  a(href='fk')
    img(src='fk/assets/tilemaps/ship.png',width='200', height='100')
    h4 Korsan Kaptan Jack



