extends layout

block content
  h1 Game Based Education For Turkish pupils
  h3 This project tries to boost the success of the students by using game technologies.
  h4 Target class was selected as the 3rd grade of primary education.
  h4 The following 6 mathematics topics were studied. For 3 of these, 2-D games are designed.
  p(class='head_title') M.3.2 Geometry
  p(class='head_title_content')
    | M.3.2.4 Fundamental of Geometry
    a(href='mk/', target='_blank') (Go to Game)

  p(class='head_title_content_detail_yes') M.3.2.4.1 Recognize dot.
  p(class='head_title_content_detail_yes') M.3.2.4.2 Recognize line and ray.
  p(class='head_title_content_detail_no') M.3.2.4.3 Creates the correct piece with line models; horizontal, vertical and inclined position



